.Home {
  height: 85vh;
}

.Home .lander {
  padding: 0px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.map-container {
  position: relative;
/*    top: 65px;
  left: 20px;*/
  width: 100%;
  height: 100%;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.jumbotron {
  color: white;
  background-image: url("/glos_headers_data-collection.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.marker-tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(255,255,255, 0.8);
  color: #000;
  max-width: 400px;
  min-width: 300px;
  font-size: 14px;
  z-index: 9;
  pointer-events: none;
  opacity: 1,
}
