.App {
    margin-top: 15px;
}

.App .navbar-brand {
    font-weight: bold;
}

.bg-glos {
    background-color: rgba(34, 96, 109, 1);
    color: white;
}

.navbar-link {
    color: white;
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-link:hover {
    color: white;
    padding-right: .5rem;
    padding-left: .5rem;
}